.privileges {
    min-height: 473px;
    padding: 70px 0 67px 0;
    background-color: #F6F6F6;
    margin: 0;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        text-transform: uppercase;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &_icons {
        width: 950px;
    }
    &__icon {
        width: 275px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        span {
            display: block;
            margin-top: 20px;
            font-weight: 300;
            font-size: 14px;
            color: #0D0D0D;
            a {
                text-decoration: underline;
                color: #FF0000;
                text-transform: uppercase;
            }
        }
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    }
}